.migrid {
    width: auto;
    height: 100px;
    background-color: rgb(158, 228, 7);
    text-align: center;
    align-content: center;
    border: 5px solid rgb(11, 10, 10);
    padding: 10px;
    margin: 15px;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 150px;
    grid-template-areas: 
        "header"
        "sidebar"
        "main";
    padding: 10px;
    column-gap: 10px;
    row-gap: 20px;
}
.header {
    grid-area: header;
}
.sidebar {
    grid-area: sidebar;
}
.main {
    grid-area: main;
}
body {
    font-size: 12px;
    padding: 8px;
}

@media (min-width:1024px){
    body{
        font-size: 20px;
        padding: 30px;
    }
    .contenedor {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 150px 150px;
    grid-template-areas: 
        "header header header"
        "sidebar main .";
    padding: 10px;
    column-gap: 10px;
    row-gap: 20px;
    }
}